@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

* {
  font-size: 16px;
  line-height: 20px;
}

:root {
  --fundo-escuro: #000000;
  --fundo-card: #1D2226;
  --fundo-card-ativo: hsla(0, 0%, 100%, 0.12);
  --texto-principal: hsla(0, 0%, 100%, 0.9);
  --texto-secundario: hsla(0, 0%, 100%, 0.6);
  --texto-escuro: hsla(0, 0%, 0%, 0.75);
  --input: #70B5F9;
  --primario: #70B5F9;
  --positivo: #3EC786;
  --roboto: 'Roboto', sans-serif;
}

.text-secundary {
  color: var(--texto-secundario);
  font-size: 0.875em;
}

body {
  background: var(--fundo-escuro);
  font-family: var(--roboto);
  font-size: 16px;
}

/* Header e navbar*/
#header {
  background: var(--fundo-card);
  color: var(--texto-principal);
  display: flex;
}

#header nav{
  display: flex;
  padding: 9px;
  gap: 5.75em;
}

.nav-container, #container {
  margin-left: 9.56em;
}

.nav-container-icon {
  display: flex;
  align-items: center;
}

.nav-container-icon{
  padding: 0 1em;
  gap: 12px;
}

.input {
  display: flex;
  align-items: center;
  gap: 0.5em;  
  border-radius: 0.5em;
  padding: 0.5em 1em;
  width: 17.5em;
}

.input, .input input {
  background: #38434F;
}

.input input {
  width: 90%;
  color: var(--texto-principal);
  outline: none;
  border: none;
}

.input input::placeholder {
  color: var(--texto-principal)
}

.icones{
  display: flex;
  gap: 1em;

}

.icones-icone {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 5em;
}
.nav-icone-link {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--texto-principal)
}

.icone-span{
  font-size: 0.75em;
  text-transform: capitalize;
  margin: 0.2em 0;
}

.divisao{
  background: var(--texto-principal);
  width:2px;
  margin: 0 0.125em;
}

/* Fim Header e navbar*/

/* Seção Principal */
/* Seção dos followers e sugestões*/
#container {
  display: flex;
  flex-direction: row;
  padding: 0.4em;
}

#main {
  width: 60%;
  padding: 1em;
}

#followers{
  display: flex;
  flex-direction: column;
  width: 20em;
  padding: 1em;
  color: var(--texto-principal);
  gap: 0.5em;
}

.cabecalho-card {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 1em;
  gap: 0.5em;
  margin: 0.3em 0;
}

.follower-card {
  display: flex;
  width: 100%;  
  margin: 0.8em auto;
  gap: 1em;
}

.follower-card h2{
  font-family: 'Inter', sans-serif;
  font-size: 0.875em;
  font-weight: 700;
  color: #FFFFFF;
  line-height: 1.06em;
}

.follower-card p{
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 0.75em;
  color: var(--texto-secundario);
  margin: 2px 0 7px 0;
}

.btn-img {
  border: none;
  outline: none;
  padding: 0;
}

.follower-card button {
  background: transparent;
  color: #FFFFFF;
  border: 1px solid #ffffffe6;
  border-radius: 1.5em;
  padding: 7px 16px;
  margin: 7px auto;
}

.pessoas-viram, .pessoas-talvez-conheca, #main section {
  color: var(--texto-principal)
}

.pessoas-viram, .pessoas-talvez-conheca {  
  width: 100%;
  background: var(--fundo-card);
  border-radius: 1em;
  padding: 1.2em 1em;
}

.pessoas-talvez-conheca{}

/* Fim da seção Followers */
/* Sessão de informacao-perfil */

#informacao-perfil {
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 1em;
  background: var(--fundo-card);
}

.foto-perfil {
  width: 10em;
  border-radius: 5em;
  position: absolute;
  top: 12.125em;
  left: 1.5em;
}

.informacao-perfil-container-bottom {
  display: flex;
  align-items: flex-start;
}

.informacao-perfil-bottom {
  display: flex;
  flex-direction: column;
  gap: 0.4em;  
  padding: 3.5em 1.5em 1.5em;
}

.profissional{
  display: flex;
  flex-direction: column;
  gap: 8px;  
  margin: 56px auto;
}

.profisional-item {
  display: flex;
  align-items: center;
  gap: 8px;
}

.link {
  color: var(--texto-principal);
  text-decoration: none;
  font-weight: 600;
}

.informacao-perfil-bottom h1, #activities h1 {
  font-size: 1.5em;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.9);
}

.informacao-perfil-bottom h2 {
  font-size: 1em;
  font-weight: 600;
}

.informacao-perfil-content-bottom {
  display: flex;
  align-items: center;
  gap: 0.31em;
}

.informacao-perfil-bottom p, .informacao-perfil-content-bottom, .card-activities-header span{
  color: var(--texto-secundario);
  font-size: 0.875em;
}

.informacao-perfil-content-bottom a, #activities a{
  color: var(--primario);
  font-weight: 700;
  text-decoration: none;
}

#ponto {
  width: 2px;
  height: 2px;
  border-radius: 1px;
  background: var(--texto-secundario);
}

.botoes {
  display: flex;
  gap: 7px;
}

.botoes button{
  border-radius: 1em;
  width: 10em;
  height: 3em;
  font-size: 0.875rem;
  font-weight: 600;
}

#btn-msg {
  background: var(--primario);
  color: var(--texto-escuro);
  padding: 7px 29px;  
}

#btn-mais {
  background: var(--fundo-card);
  color: var(--primario);
  border: 1px solid var(--primario);
}

/* Destaques */
#destaques {
  display: flex;
  flex-direction: column;
  background: var(--fundo-card);
  border-radius: 1em;
  margin-top: 0.5em;
  padding: 1em 1.5em;
  gap: 0.5em;
}

.destaques-cabecalho {
  font-size: 1.25em;
  font-weight: 600;
  color: var(--texto-principal);
}

.cards {
  display: flex;
  gap: 17px;
}

.card-destaque {
  border: 1px solid var(--texto-secundario);
  border-radius: 8px;
  max-width: fit-content;
}

.card-destaque-cabecalho {
  font-size: 0.75em;
  padding: 1em 0 0 0.875em;
  color: var(--texto-secundario);
  font-weight:400;
}

.card-destaque h2 {
  font-size: 0.875em;
  font-weight: 400;
  color: var(--texto-principal);
  padding: 0 0.8em;
}

.card-destaque span, .card-activities span {
  color: var(--texto-secundario);
  margin-bottom: 0.25em;
}

.card-destaque img {
  width: 100%;
}

.rodape-destaque, .rodape-activity {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0.25em 0.25em;
  font-size: 0.75em;
}

.rodape-destaque-curtidas, .rodape-activity-curtidas {
  display: flex;
  align-items: center;
}

#curtidas {
  background: transparent;
  min-width: fit-content;
  padding: 0 2px;
  border: none;
}

.circulos{
  display: flex;
  position: relative;
  cursor: pointer;
}

#circulo1, #circulo2, #circulo3 {
  width: 1em;
  height: 1em;
  border: none;
  border-radius: 0.5em;
}

#circulo1 {
  background: #378FE9;
}
#circulo2 {
  position: absolute;
  background: #6DAE4F;
  left: 8px;
}
#circulo3 {  
  position: absolute;
  background: #DF704D;
  left: 15px;
}

.rodape-destaque-curtidas span, .rodape-activity-curtidas span {
  position: relative;
  left: 20px;
}


/* Fim destaques */
/* Atividades */
#activities{
  display: flex;
  flex-direction: column;
  background: var(--fundo-card);
  border-radius: 1em;
  margin-top: 0.5em;
  padding: 1em 1.5em;
  gap: 0.5em;
}

.card-activities {
  margin-top : 13px;
}

.card-activities-body {
  display: flex;
  padding: 0.5em 0;
  gap: 0.5em;
}

.card-activities-body img{
  width: 4em;
}

.card-activities-body p {
  font-size: 0.875em;
  font-weight: 400;
}

.card-activities hr {
  border: 1px solid var(--texto-secundario);
}

.activities-footer {
  text-align: center;
  font-weight: 500;
  font-size: 0.875em;
  color: var(--texto-secundario);
  background: transparent;
  outline: none;
  border: none;
  cursor: pointer;
}

/* Seção Sobre*/

#sobre, #experiencias, #formacao{
  background: var(--fundo-card);
  margin: 1em 0;
  border-radius: 1em;
  padding: 1em 1.5em;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

#sobre h1, #experiencias h1, #formacao h1 {
  font-size: 1.25em;
}

#sobre p{
  font-size: 0.875em;
  text-align: justify;
}

/* Seção Experiências*/
#experiencias {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

#experiencias h1 {
  margin-bottom: 0.5em;
}

.cabecalho-experiencias {
  display: flex;
  gap: 0.875em;
}

.cabecalho-experiencias img {
  width:3em;
}

.cabecalho-experiencais h2, .formacao-content h2 {
  font-weight: 500;
  color: var(--texto-principal)
}

.cabecalho-experiencais span, .formacao-content span {
  color: var(--texto-secundario);
  font-size: 0.875em;
}

.experiencia-lista {
  display: flex;
  flex-direction: column;
  gap: 0.25em;
  margin: 1em 1.5em;
}

.experiencia-item {
  display: flex;
  flex-direction: column;
  gap: 0;
}

.experiencia-item h3 {
  color: var(--texto-principal);
  font-size: 0.875em;
}

.item-content {
  display: flex;
  gap: 0.5em;
  align-items: center;
}

.box-item {
  padding-left: 1em;
  border-left: 1px solid var(--texto-secundario)
}

.cabecalho-item {
  display: flex;
  align-items: center;
  gap: 1em;
}

.ponto-2 {
  margin: -3px;
  width: 0.5em;
  height: 0.5em;
  border-radius: 0.25em;
  background: var(--texto-principal)
}

/**/

#formacao {
}

.formacao-content{
  display: flex;
  flex-direction: row;
  gap: 9px;
}

.formacao-content img {
  width: 3rem;
  height: 3rem;
}

.formacao-content h1

/* Footer*/
#footer{}